PORT=3000
MONGO_URI=mongodb://localhost:27017/m1-p13-nyavo-fitia
NODE_ENV=development

# Firebase Config
FIREBASE_API_KEY=your_web_api_key_here
FIREBASE_SERVICE_ACCOUNT='{"type": "service_account", ...}'
